{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'playground/style.css' %}">

<h1>Authentication</h1>

<h2>User '{{ user }}'</h2>

<form action="{% url 'playground:auth-user' user.id %}" method="post">
{% csrf_token %}
<fieldset>
  <legend><h3>Details</h3></legend>
</fieldset>
<input type="submit" value="Update User Details"/>
</form>

<form action="{% url 'playground:auth-user-password' user.id %}" method="post">
{% csrf_token %}
<fieldset>
  <legend><h3>Password</h3></legend>
  <p>Current Password: <input type="password" name="current-password" maxlength="128" placeholder="password"/></p>
  <p>New Password:
    <input type="password" name="new-password" maxlength="128" placeholder="password"/>
    {% if users_context.update_password.status %}
    <em>{{ users_context.update_password.status }}</em>
    {% endif %}
  </p>
</fieldset>
<input type="submit" value="Update User Password"/>
</form>

<a href="{% url 'playground:auth-user-delete-confirm' user.id %}"><button>Delete User</button></a>