[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-polls = {editable = true, ref = "master", git = "https://github.com/Eido95/django-polls.git"}

[dev-packages]

[requires]
python_version = "3.8"
